@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.conatiner {
  width: 100%;
}
#nav {
  /* position: fixed; */
  z-index: 100;
  background-color: white;
  width: 100%;
  margin: auto;
}
.topNav {
  width: 100%;
  height: 120px;
  margin: auto;
  display: flex;
  position: relative;
  justify-content: space-between;
  text-align: center;
  padding-top: 20px;
  /* border: 2px solid red; */
}

nav #leftNav {
  padding-left: 40px;
  width: 370px;
  display: flex;
  margin: auto 0;
  height: 45px;
  line-height: 35px;
}

nav #leftNav li {
  list-style: none;
  height: 60px;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 5px 10px;
}

nav #leftNav input {
  border: none;
  outline: none;
  background: #fff;
  height: 100%;
  padding: 0 10px;
  padding-top: 20px;
  font-size: 20px;
  width: 350px;
}

nav #rightNav ul {
  display: flex;
  list-style: none;
  margin: auto 0;
}

nav #rightNav ul li a {
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 20px;
}

nav #rightNav {
  width: 300px;
  display: flex;
}
nav #rightNav #logIn-icon span {
  color: rgb(119, 114, 114);
}
nav #rightNav #logIn-icon {
  display: flex;
}
nav #rightNav li {
  height: 30px;
  font-size: 20px;
  padding: 5px 20px;
}

::placeholder {
  color: #64636f;
}

#leftNav li img {
  width: 50px;
  height: 100%;
  border-radius: 40%;
}

#logo {
  width: 300px;
}

#logo img {
  width: 280px;
  height: 120px;
}

#rightNav img {
  width: 25px;
}

.conatiner2 {
  /* padding-left: 120px; */
  justify-content: space-between;
  width: 100%;
  /* height: 100px; */
  margin: auto;
  position: relative;
  display: flex;
  z-index: 100;
}
.nav2 {
  margin: auto;
  width: 80%;
}

.nav2 > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.nav2 > ul > li {
  padding: 40px 20px;
  list-style: none;
}

.nav2 > ul > li > a {
  color: black;
  text-decoration: none;
  /* under line ko hata deta h ye ager word me koi under line aati h to */
}
.nav2 > ul > li > :hover {
  width: 50px;
  color: rgb(236, 27, 61);
}

.megaMenu {
  position: absolute;
  display: flex;
  top: 120%;
  left: 0;
  width: 80%;
  margin: auto;
  opacity: 0;
  flex-wrap: wrap;
  visibility: hidden;
  transition: 0.5s;
  left: 145px;
}

.megaMenuItem {
  flex-basis: 20%;
}

.nav2 > ul > li:hover .megaMenu {
  background-color: rgb(193, 130, 130);
  margin: auto;
  width: 80%;
  top: 100%;
  opacity: 1;
  visibility: visible;
  padding: 20px;
  left: 145px;
}

.megaMenuItem ul li {
  text-decoration: none;
  list-style: none;
  padding: 5px;
}

.megaMenuItem ul li a {
  color: black;
  text-decoration: none;
}
/* .megaMenuItem ul li a:hover {
  color: red;
} */

.megaMenuItem h3 {
  font-family: quicksand;
  color: black;
  padding: 10px;
}

.lastDownNav {
  padding-left: 160px;
  width: 29%;
}
.lastDownNav .lastDownNavCild {
  display: flex;
  justify-content: space-between;
}
.lastDownNavCild-makeup {
  color: #f48fb1;
}

.makeup-banner-img {
  width: 100%;
}
.makeup-banner-img div {
  display: flex;
  height: 400px;
  width: 90%;
  align-items: center;
  margin: auto;
}
.makeup-banner-img img {
  width: 100%;
}

.container3 {
  display: flex;
  width: 90%;
  margin: auto;
}

.category-shop {
  width: 30%;
}
.category-shop div p,
b {
  padding-top: 10px;
  color: rgb(102, 99, 99);
}
.ancrTagCoSop a p{
  text-decoration: none;
  text-transform: capitalize;
  text-transform: capitalize;
  list-style: none;
  text-decoration: none;
  display: flex;
}
.ancrTagCoSop p{
    text-decoration: none;
    text-transform: capitalize;
    text-transform: capitalize;
    list-style: none;
    text-decoration: none;
}

.container3-rightSide {
  width: 80%;
}

.justAriveImg {
  width: 100%;
}

.justAriveImg img {
  width: 100%;
}

.offersVideos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.firstImageChanger {
  margin: auto;
  display: flex;
  width: 90%;
}
.firstImageChanger > div {
  padding: 10px;
  text-align: center;
  width: 100%;
  margin: auto;
}

.firstImageChanger > div h3 {
  padding: 10px;
}

.firstImageChanger .fistImg {
  margin: auto;
  width: 90%;
}

.fistImgLogo {
  justify-content: center;
  display: flex;
}

.swiper-slide .fistImgLogo img {
  width: 18px;
}

.swiper {
  width: 100%;
  /* height: 100%; */
}

.swiper-slide img {
  display: block;
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.justAriveImg-2 {
  padding-top: 40px;
  width: 100%;
}

.justAriveImg-2 img {
  width: 100%;
}

/* footer css */
